{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/judge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/simplemde.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'judge:index' %}">SZTOS</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active  m-1">
                    <a class="nav-link" href="{% url 'judge:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  m-1">
                    <a class="nav-link" href="{% url 'judge:courses' %}">Courses</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                   {% if user.openiduser %}
                    <li class="navbar-text m-1">Logged in as {{ user.openiduser.preferred_username }}</li>
                   {% else %}
                    <li class="navbar-text m-1">Logged in as {{ user }}</li>
                   {% endif %}
                    <li class="nav-item m-1">
                        <a class="btn btn-outline-danger" href="/auth/logout">Logout</a>
                        {% else %}
                    <li class="nav-item m-1">
                        <a class="btn btn-outline-success" href="/auth">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" 'judge:index' %}
{% endblock %}

<div class="container my-2">

    {% block content %}
    {% endblock %}
</div>

{% bootstrap_jquery %}
{% bootstrap_javascript %}

</body>
</html>
