{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card shadow">
            <article class="card-body">
                <a href="{% url 'signup' %}" class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Login</h4>
                <form class="form form-horizontal" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary btn-block"> Login</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
{% endblock %}
