{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}

{% block title %}Delete course{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Courses' 'judge:courses' %}
    {% breadcrumb course.name 'judge:problems' course.id %}
    {% breadcrumb 'Delete' 'judge:course_delete' course.id %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="d-flex justify-content-left">
        <div class="card shadow delete">
            <article class="card-body">
                <form class="form" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Delete "{{ course.name }}"?</h1>
                    {% csrf_token %}
                    <p>Are you sure you want to delete course "{{ course.name }}" with all associated problems and
                        solutions? </p>
                    <button class="btn btn-danger btn-bg" type="submit">Delete</button>
                </form>
            </article>
        </div>
    </div>
{% endblock %}
