{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Courses</h1>
    <a class="btn btn-success m-1" href="{% url 'judge:add_course' %}" type="button">Add course</a>
    {% if course_list %}
        <ul class="list-group">
            {% for course in course_list %}
                <a class="list-group-item list-group-item-action"
                   href="{% url 'judge:problems' course.id %}">{{ course.name }}</a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No courses are available.</p>
    {% endif %}
{% endblock %}
