{% extends 'base.html' %}
{% load bootstrap4 %}
{% load filters %}

{% block title %}Detail{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>{{ problem.title }}</h1>
        <h2>{{ problem.description }}</h2>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div class="d-flex justify-content-left" id="send">
            <form class="form form-vertical" action="{% url 'judge:send' problem.id %}" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-secondary btn-bg" type="submit" value="Send">
            </form>
        </div>
        {% if solution %}
            <h2>Status: {{ solution.get_state_display }}</h2>
            {% if solution.test_runs.count > 0 %}
                <h2>Grade: {{ grade | percentage }}</h2>
                <table>
                    <tr>
                        <td>#</td>
                        <td>State</td>
                    </tr>
                    {% for test_run in solution.test_runs.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ test_run.get_state_display }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% for name, source in solution.get_sources.items %}
                <h5>{{ name }}</h5>
                <pre><code>{{ source }}</code></pre>
            {% endfor %}
            <label for="solution{{ solution.id }}">Added {{ solution.pub_date }}</label><br>
        {% endif %}
    {% else %}
        <p>You have to be logged in to view this page</p>
        <a href="{% url 'login' %}">Click here to login</a>
    {% endif %}
{% endblock %}
