<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<p>Logged in as {{ user }}</p>
<h1>{{ problem.title }}</h1>
<h2>{{ problem.description }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'judge:send' problem.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Send">
</form>
{% if solution %}
    <h2>Results</h2>
    <h4>State: {{ solution.last.get_state_display }}</h4>
    <h4>Valid: {{ solution.last.valid }}</h4>
    {% for name, source in solution.last.get_sources.items %}
        <h5>{{ name }}</h5>
        <pre>{{ source }}</pre>
    {% endfor %}
    <label for="solution{{ solution.id }}">Added {{ solution.last.pub_date }}</label><br>
{% endif %}
</body>
</html>
