<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>{{ question.question_title }}</h1>
<p>{{ question.question_description }}</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'judge:send' question.id %}" method="post">
    {% csrf_token %}

    {% for solution in question.solution_set.all %}
        <textarea name="solution" id="solution{{ forloop.counter }}" rows="10"
                  cols="50">{{ solution.solution_text }}</textarea><br>
        <label for="solution{{ forloop.counter }}">{{ solution.solution_text }}</label><br>
    {% endfor %}
    {% if not question.solution_set.all %}
        <textarea name="solution" id="solution{{ forloop.counter }}" rows="10"
                  cols="50">{{ solution.solution_text }}</textarea><br>
        <label for="solution{{ forloop.counter }}">{{ solution.solution_text }}</label><br>
    {% endif %}
    <input type="submit" value="Send">
</form>
</body>
</html>