{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}

{% block title %}Add problem{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Courses' 'judge:courses' %}
    {% breadcrumb course.name 'judge:problems' course.id %}
    {% breadcrumb 'Add problem' 'judge:problem_create' course.id %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="d-flex justify-content-left">
        <div class="card shadow problem">
            <article class="card-body">
                <form class="form" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Create problem</h1>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success btn-bg" type="submit">Create</button>
                </form>
            </article>
        </div>
    </div>
    <script src="{% static 'scripts/simplemde.min.js' %}"></script>
    <script>
        const simpleMDE = new SimpleMDE({ spellChecker: false });
    </script>
{% endblock %}
