{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Add problem{% endblock %}

{% block content %}
    <div class="d-flex justify-content-left">
        <div class="card shadow" style="width: 30rem;">
            <article class="card-body">
                <form class="form" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Create problem</h1>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success btn-bg" type="submit">Create</button>
                </form>
            </article>
        </div>
    </div>
{% endblock %}
