{% extends 'base.html' %}

{% block title %}Problems{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">{{ course }}</h1>
    <a class="btn btn-success m-1" href="{% url 'judge:add_problem' pk %}" type="button">Add problem</a>
    {% if latest_problem_list %}
        <table class="table">
        {% for problem in latest_problem_list %}
        <tr>
            <td>
                <a href="{% url 'judge:detail' problem.course.id problem.id %}">
                    {{ problem.title }}
                </a>
            </td>
            <td>
                <a class="btn btn-primary" href="{% url 'judge:problem_grades' problem.course.id problem.id %}">Grades</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No problems are available.</p>
    {% endif %}
{% endblock %}
