{% extends 'base.html' %}
{% load bootstrap4 %}
{% load filters %}

{% block title %}Source{% endblock %}
{% block content %}
    <h1>{{ problem.title }}</h1>
    <h2>{{ problem.description }}</h2>
    {% if solution %}
        <a href="{% url "judge:download_solution" course_pk problem_pk solution.pk %}">Download</a>
        <h2>Status: {{ solution.get_state_display }}</h2>
        {% for name, source in solution.get_sources.items %}
            <div class="card shadow my-1" style="max-width: 40rem">
                <article class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">{{ name }}</label>
                        <pre><code><textarea disabled class="form-control"
                                             id="exampleFormControlTextarea1"
                                             rows="15">{{ source }}</textarea></code></pre>
                    </div>
                </article>
            </div>
        {% endfor %}
        <label for="solution{{ solution.id }}">Added {{ solution.pub_date }}</label><br>
    {% endif %}
{% endblock %}
