{% extends 'base.html' %}

{% block title %}Test cases{% endblock %}

{% block content %}
    <h1 class="h3 font-weight-normal">{{ problem }}</h1>
    <a class="btn btn-success my-1" href="{% url 'judge:test_case_create' problem.course.id problem.id %}"
       role="button">Add test case</a>
    {% if test_cases_list %}
        <div class="card shadow">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead class="thead-light">
                    <tr>
                        <th>Input</th>
                        <th>Expected output</th>
                        <th>Points</th>
                        <th>Memory limit</th>
                        <th>Time limit</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for test_case in test_cases_list %}
                        <tr>
                            <td class="w-25 text-center">{{ test_case.input }}</td>
                            <td class="w-25 text-center">{{ test_case.expected_output }}</td>
                            <td class="w-auto text-center">{{ test_case.points }}</td>
                            <td class="w-auto text-center">{{ test_case.memory_limit }}</td>
                            <td class="w-auto text-center">{{ test_case.time_limit }}</td>
                            <td class="w-auto text-center">
                                <a class="btn btn-success my-1"
                                   href="{% url 'judge:test_case_update' test_case.problem.course.id test_case.problem.id test_case.id %}"
                                   role="button">Update</a>
                                <a class="btn btn-danger my-1"
                                   href="{% url 'judge:test_case_delete' test_case.problem.course.id test_case.problem.id test_case.id %}"
                                   role="button">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>No test cases are available.</p>
    {% endif %}
{% endblock %}
