{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}

{% block title %}Delete test case{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Courses' 'judge:courses' %}
    {% breadcrumb course.name 'judge:problems' course.id %}
    {% breadcrumb problem.title 'judge:detail' course.id problem.id %}
    {% breadcrumb 'Test cases' 'judge:test_cases' course.id problem.id %}
    {% breadcrumb 'Delete' 'judge:test_case_delete' course.id problem.id testcase.id %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="d-flex justify-content-left">
        <div class="card shadow testcase">
            <article class="card-body">
                <form class="form" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Delete test case?</h1>
                    {% csrf_token %}
                    <p>Are you sure you want to delete this test case? </p>
                    <button class="btn btn-danger btn-bg" type="submit">Delete</button>
                </form>
            </article>
        </div>
    </div>
{% endblock %}
